{% extends 'layouts/base.html.twig' %}
    {% block main_content %}
        <main class="container">
            <ul>
                <li><a href="{{ getUrl('index') }}">{% trans %}Main page{% endtrans %}</a></li>
                <li><a href="{{ getUrl('handyman') }}">{% trans %}URL without params{% endtrans %}</a></li>
                <li>
                    <a href="{{ getUrl('exception_demo', {statusCode: 422, nonexistent: true}) }}">{% trans %}URL with correct and one non-existent (ignored) param{% endtrans %}</a>
                </li>
                <li>
                    <a href="{{ getUrl('index', {id: 2, query: {someParam: 'someValue', list: [1,  2]}}) }}">{% trans %}URL with query params{% endtrans %}</a>
                </li>
                <li>
                    <a href="{{ getUrl('index', {id: 2, query: {someParam: 'someValue', me: [1,  2]}, fragment: 'hashtag'}) }}">{% trans %}Url with fragment (hashtag){% endtrans %}</a>
                </li>
            </ul>
        </main>
    {% endblock %}